:root{
    --first-color:#1aba1a;
    --second-color: #fff;
    --third-color:#666666;

 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit !important;
}
ul {
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
h6 {
    margin: 0 !important;
}
body{
    background-color: #e2e4eb;
    font-family: "Inter", sans-serif; 
    font-size: 14px;
    overflow-x: hidden;
    color: #000;
}
.container-l{
    padding: 0 15px ;
}
.navbar-item1 {
    background-color: white;
    border-radius: 16px;
    margin-top: 20px;
    padding: 15px;
}
.top-top-nav1 .hotline{
    font-size: 12px;
}
.top-top-nav1 .hotline small{
    background-color: #ebeef6;
    padding: 6px;
    margin-right: 12px;
    border-radius: 5px;
    
}
.top-top-nav2{
    display: flex;
    justify-content: end;
    font-size: 12px;
}
.top-top-nav2 ul {
    padding-left: 0 !important;
}
.top-nav-links a{
  margin-right: 20px;
}
.top-nav-list{
    display: flex;
    gap: 10px;
    position: relative;
}
.dropdown1{
    padding-inline:10px ;
}
.dropdown1 i{
    padding-left: 6px;
    cursor: pointer;
}
.dropdown-menu1 , .dropdown-menu{
    position: absolute;
    min-width: 200px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.0666666667);
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    border: none !important;
    border-radius: 0 !important;
    margin-block: 0 !important;
    padding-block: 0 !important;
    z-index: 10;
}
.border1{
    border-left:   1px solid rgba(153, 153, 153, 0.6);
  }
.show{
    opacity: 1;
    visibility: visible;
}
.dropdown-menu-item , .dropdown-item{
    padding: 10px 20px; 
    font-size: 14px;
    border-bottom:  1px solid rgba(140, 153, 153, 0.133) ;
}
.dropdown-menu-item:hover{
    background-color: #e2e4eb;
}
.logo-nav{
    margin-top: 20px;
}
.logo-nav .logo i{
    display: none;
}
.dropdown-toggle::after {
    display: none !important;
}
.navbar-collapse{
    margin-left: 40px !important;
}
.nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding: 10px 15px;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #1aba1a !important;
}
.side-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.side-nav .icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons1{
    display: flex;
    flex-direction: column;
}
@media (min-width:1110px){
    .icons1{
        flex-direction: row;
    }
}
.icon-link:hover {
    background: #1aba1a;
    color: #fff;
}
.icons .icon-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #ebeef6;
    font-size: 18px !important;
    margin-inline-start: 10px;
    position: relative;
    transition: 0.4s ease-in-out;
}
.icons .fas , .fab{
    transition: 0.4s ease-in-out;

}
.icons .icon-link:hover .fas ,
.icons .icon-link:hover .fab {
    color: white;
}
.icons .icon-link:hover{
    background-color: #1aba1a;

}
.icon-link .num {
    font-size: 11px;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #1aba1a;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -5px;
}
.search {
    padding: 13px;
    background-color: #1aba1a;
    color: #fff;
    border-radius: 10px;
}

.search-cat {
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-cat .form-select,
.search-cat .form-control {
    margin-right: 10px;
    border: none;
    font-size: 13px;
    
}

.search-cat .form-select {
    font-weight: bold;
    
}

.search-cat .form-select:focus,
.search-cat .form-control:focus {
    outline: 0 !important;
    border: none;
}

.search-btn {
    color: #e2e4eb;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 300;
    color: #000;
    top: 0;
    left: 0;
}

.search-btn:hover .fa-search {
    color: #000;
}

.delivery-features .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.feat-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

section {
    background-color: white;
    margin-top: 15px;
    padding: 30px;
    border-radius: 10px;
}
.nav2{
    color: black;
    font-weight: bold;
    
}
.nav2-items-list{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav2-item.gray{
    color: #999999;
}
/* @media (max-width:1024px){
    .container-l{
        padding: 0 15px ;
    }
} */

/* main */
.cart-main{
    padding: 15px;
}
.cart-product{
    width: 100%;
    background-color: #fafafa;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;

}
.cart-product:hover{
    border:1px solid #ccc;
}

.top-cart{
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    position: absolute;
    top: 15px;
    left: 15px;
}
.top-card{
    display: inline-block;
    color: #fff;
    background-color: #1aba1a;
    padding: 5px 10px;
    border-radius: 8px;
    z-index: 10;
}
.top-card1{
    background-color: #000;
}
.fav-btn{
    margin-inline-start: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    color: #999999;
    background-color: #e2e4eb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}
.remove-btn{
    z-index: 10;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ff000011;
    color: #f1352b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-btn:hover{
    cursor: pointer;
    color: white;
    background-color: #ff000099;
    transition: all 0.1s ease-in-out;
}
.cart-product-img{
    position: relative;
    display: block;
    flex-shrink: 0;
    height: 250px;
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 60px;
    
}
@media (min-width:990px){
    .cart-main{
        padding: 45px;
    }
    .cart-product{
        flex-direction: row;
        padding: 15px;
    }
    .cart-product-img{
        width: 220px;
        margin-top: 0;
    }
}
.cart-product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-product-info{
    padding-top: 35px;
}
.ratings{
    display: flex;
    align-items: center;
}
.stars{
    display: flex;
    margin-right: 5px;
}
.cart-product-title{

    font-weight: 700;
    font-size: 14px;
}
.cart-product-title:hover{
    color: #1aba1a;
}
.product-price{
    margin-top: 14.5px;
}
.add-more{
    display:inline-flex;
    padding: 8px 15px;
    margin-top: 16px;
    border-radius: 10px;
    border: 1px solid #99999933;

}
.add-more-input{
    border: 0;
    width:70px;
    background-color: transparent;
    color: black;
    text-align: center;
}
.add-more-input:focus{
    outline: 0;
}
.plus , .minus{
    cursor: pointer;
}
.shipping{
    margin-top: 15px;
}
.shipping-item{
    position: relative;
    background-color: #eef6ee;
    color: #1aba1a;
    padding: 3px 10px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 10px;
}
.shipping-item2{
    color: #f1352b;
}
.stock{
    margin-top: 10px;
    font-size: 12px;
    color: #000;
}
.stock .fa-circle-check{
    color: #1aba1a;
    margin-inline: 3px;
}
.cart-checkout{
    border: 1px solid #1aba1a;
    border-radius: 10px;
    padding: 30px;
    position: sticky;
    top: 30px;
}
.cart-checkout-title{
    font-size: 16px;
    margin-bottom: 18px;
}
.cart-checkout-item{
    display: flex;
    justify-content: space-between;
    padding-block: 15px;
    border-bottom: 1px solid #ccc;
    color: #666;
}
.cart-checkout-item1{
    border: none;
}
.cart-checkout-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-checkout-btn .btn1{
    background-color: #1aba1a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px;
    margin-top: 24px;
    width: 100%;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}
.cart-checkout-btn .btn1:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.527);

}
@media (min-width:990px){
    .cart-checkout-btn .btn1{
        width: 45%;
    }

}

/* footer */
.footer-style{
    background-color: var(--second-color);
    margin-top: 1rem;

}
.footer-style .container-1{
    padding-left: 80px;
    padding-right: 80px;
}
.footer-style a{
    text-decoration: none;
}
.footer-style .footer-content{
    padding: 80px 0;
}

.footer-style .footer-content .footer-container-row{
    margin-bottom: 40px;
    
}
.footer-style .footer-content .foot-info p{
    color: #000000;
    font-size: 14px;
    margin-bottom:0 ;
    font-weight: 500;
    margin-top: 30px;
}
.footer-style .footer-content .foot-info a{
    color: #000000;
}
.footer-style .footer-content .foot-info h4{
    color: var(--first-color);
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 700;
}
.footer-style .footer-content h6{ 
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-style .foot-social i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: #e1e3eb;
    margin-inline-end: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
} 
.footer-style .foot-social i:hover {
    background-color: var(--first-color);
    color: #fff;
    
  }
.footer-style .links .links-list a {
    color: #666;
    line-height: 2.1;
    text-transform: capitalize;
}
.footer-style .links .links-list a:hover {
    text-decoration: underline;
    color: #000;
  }

.footer-style .footer-content .footer-info .subscribe-content h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-style .subscribe-content .form-group{
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 5px 0;
}
.footer-style .subscribe-content .form-group input{
    border: 0;
    width: 100%;
}
.footer-style .subscribe-content .form-group .icon {
    margin-inline-end: 10px;
    font-size: 18px;
}
.footer-style .subscribe-content .form-group button {
    border: 0;
    background-color: transparent;
    color: var(--first-color);
    flex-shrink: 0;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-style .subscribe-content .form-group i{
    margin-left: 10px;
    font-size: 14px;

}
.footer-style .subscribe-content p{
    font-size: 13px;
    color: #666666;
    margin-top: .5rem;

}
input:focus{
   outline: none;

}
/* ---drowpdown--- */
.footer-style .dropdowns .links-ul .dropdown{
    position: relative;
    display: inline-block;      
    padding: 10px 15px;
    margin-inline-end: 5px;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 8px;
    margin-inline-end: 5px;
    }
    .footer-style .dropdowns .links-ul .dropdown .icon-1{
        font-size: 0.8em;
        margin-left: 2.856px;

    }
    .footer-style .dropdowns .links-ul .dropdown a{
        color: #000;
    }
    .footer-style .dropdowns .links-ul .dropdown i{
        font-size: 13px;
        margin-right: 5px;
    }

  .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.1333333333);
  }
  .footer-style .dropdowns .links-ul .dropdown .dropdown-menu{
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 8px;
    padding: 0;
    min-width: 100%;
    left: 0;
    transform: translate(0) !important;
    top: 100% !important;
  }

  .footer-style .foot{
    padding: 40px 15px;
    border-top: 1px solid rgba(153, 153, 153, 0.3333333333);
  }
   
  .footer-style .foot .pay-imgs img {
    height: 15px;
    margin: 0 10px;
}

.footer-style .foot .text-lg-end{
    padding-right: 15px;
    padding-left: 15px;
}
.footer-style .foot .text-lg-end i{
    margin-right: 10px;
}

@media(max-width: 995px){
    .footer-style .foot .text-lg-end{
       margin-top: 20px;
    }
   
}

@media(max-width:1280px){
    .footer-style .container-1{
        padding-left: 20px;
        padding-right: 20px;
    }
}
 
  