:root{
    --first-color:#1aba1a;
    --second-color: #fff;
    --third-color:#666666;

 }

 *{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    scroll-behavior: smooth;
}
   body{
   font-family: "Inter", sans-serif;
   background-color: #e2e4eb;
   font-size: 14px;
   color: #000;
  
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit !important;
}

p{
    line-height: 1.7;
    font-size: 14px;
    color: var(--third-color);
}
ul{
    list-style: none;
    padding: 0;
    
}

.body-container{
    padding-inline: 15px;
    margin-top: 16px;
}

/* -------------naav--------------------- */
.container-l{
   margin-bottom: 1rem;
}
.navbar-item1 {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
}
.top-top-nav1 .hotline{
    font-size: 14px;
    padding-left: 15px;
}
.top-top-nav1 .hotline small{
    background-color: #ebeef6;
    padding: 6px;
    margin-right: 12px;
    border-radius: 5px;
    font-weight: 400;
    
}
.top-top-nav1 a{
    font-size: 14px;
    font-weight: 400;

}
.top-top-nav2{
    display: flex;
    font-size: 14px;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.top-top-nav2 ul {
    padding-left: 0 !important;
}
.top-nav-links a{
  margin-right: 20px;
}
.top-nav-list{
    display: flex;
    gap: 13px;
    position: relative;
}

.dropdown1{
    padding-left: 10px;
}
.dropdown1 i{   
    cursor: pointer;
}

.dropdown1 .drop{
    padding-right: 25px;
    padding-left: 6px;
} 
.dropdown-menu1 , .dropdown-menu{
    position: absolute;
    min-width: 200px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.0666666667);
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    border: none !important;
    border-radius: 0 !important;
    margin-block: 0 !important;
    padding-block: 0 !important;
    z-index: 10;
}
.border1{
  border-left:   1px solid rgba(153, 153, 153, 0.6);
}
.show{
    opacity: 1;
    visibility: visible;
}
.dropdown-menu-item , .dropdown-item{
    padding: 10px 20px; 
    font-size: 14px;
    border-bottom:  1px solid rgba(140, 153, 153, 0.133) ;
}
.dropdown-menu-item:hover{
    background-color: #e2e4eb;
}
.logo-nav{
    margin-top: 10px; 
}
.logo-nav .logo i{
    display: none;
}
.dropdown-toggle::after {
    display: none !important;
}
.navbar-collapse{
    margin-left: 40px !important;
}
.nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding: 10px 15px;
    text-transform: uppercase;
    margin-bottom:0;
}
.nav-link:hover{
    color:var(--first-color) !important;
    
}
.side-nav {
    display: flex;
    align-items: center;
}

.side-nav .icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons1{
    display: flex;
    flex-direction: column;
}
@media (min-width:1110px){
    .icons1{
        flex-direction: row;
    }
}
.icon-link:hover {
    background: var(--first-color);
    color: #fff;
}
.icons .icon-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #ebeef6;
    font-size: 15px !important;
    margin-inline-start: 10px;
    position: relative;
    transition: 0.4s ease-in-out;

}
.icons .fas , .fab{
    transition: 0.4s ease-in-out;

}
.icons .icon-link:hover .fas ,
.icons .icon-link:hover .fab {
    color: white;
}
.icons .icon-link:hover{
    background-color: var(--first-color);

}
.icon-link .num {
    font-size: 11px;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: var(--first-color);
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: -5px;
}
.search {
    padding: 15px;
    background-color:var(--first-color);
    color: #fff;
    border-radius: 10px;
}

.search-cat {
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-cat .form-select,
.search-cat .form-control {
    margin-right: 10px;
    border: none;
    font-size: 13px;
    
}

.search-cat .form-select {
    font-weight: bold;
    
}

.form-select:focus,
.form-control:focus {
    outline: 0 !important;
    border-color: none !important;
    box-shadow: none !important;
}

.search-btn {
    color: #e2e4eb;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 300;
    color: #000;
    top: 0;
    left: 0;
}

.search-btn:hover .fa-search {
    color: #000;
}

.delivery-features .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.feat-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.feat-link span{
    width: 100%;
}

/* -------------header------------------- */

.header-section{
    background-color:var(--second-color);
    padding: 30px;
    border-radius: 10px;
}
.header ul{
 display: flex;
 flex-wrap: wrap; 
 margin-bottom: 0;
 padding-left: 0;

}
.header li{
    font-weight: bold;
    padding-left: 8px;
    color: #999;

    }

    @media (min-width:1440px){
        .body-container{
            padding-inline: 80px;
        }

    }
/* ----------------------------- */
.form-group .form-control {
    min-height: 45px;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: 14px;
}

.form-content .form-group{
    padding-right: 10px;
}
.form-group .form-control:hover, .form-group .form-control:focus {
    border-color: var(--first-color);
  }
  .form-content .butn-3{
    background-color: var(--first-color);
        padding: 15px 30px;
        border-radius: 10px;
        color: var(--second-color);
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.2s ease;
        border: none; 
        margin-top: 30px;
  }
  
  .form-content .butn-3:hover{
    box-shadow: 4px 5px 0 rgba(0, 0, 0, 0.3333333333);
   box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.2666666667);
   transform: translateY(-2px);
}
/* ---------------sid card----------------------- */
.contact-info{
    padding: 15px;
}
.contact-info .contact-info-card {
    padding: 30px;
    border-radius: 10px;
    background-color: #edeff6;
}
.form-group label {
    margin-bottom: 10px;
}

.contact-info .contact-info-card p{
    font-size: 12px;
    margin-bottom: 20px;
}

.contact-info .contact-info-card li{
    font-size: 16px;
    color: #000000;
    font-weight: 400;

}
 .contact-info .contact-info-card .social-icons i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--second-color);
    margin-inline-end: 10px;
    margin-top: 40px;
}
.contact-info-card .social-icons i:hover {
    background-color: var(--first-color);
    color: #fff;
    
  }



  .img .img-cover{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: inherit;
    border-radius: 10px;
    margin-top: 10px;
  }


/* ------------map start------------------ */
.body-container .map{
    padding: 30px;
    border-radius: 10px;

}

.body-container .map h6{
font-size: 18px;
margin-bottom: 30px;
}










/* ----------------footer------------------------- */

.footer-style{
    background-color: var(--second-color);
    margin-top: 1rem;

}
.footer-style .container-1{
    padding-left: 80px;
    padding-right: 80px;
}
.footer-style a{
    text-decoration: none;
}
.footer-style .footer-content{
    padding: 80px 0;
}

.footer-style .footer-content .footer-container-row{
    margin-bottom: 40px;
    
}
.footer-style .footer-content .foot-info p{
    color: #000000;
    font-size: 14px;
    margin-bottom:0 ;
    font-weight: 500;
    margin-top: 30px;
}
.footer-style .footer-content .foot-info a{
    color: #000000;
}
.footer-style .footer-content .foot-info h4{
    color: var(--first-color);
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 700;
}
.footer-style .footer-content h6{ 
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-style .foot-social i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: #e1e3eb;
    margin-inline-end: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
} 
.footer-style .foot-social i:hover {
    background-color: var(--first-color);
    color: #fff;
    
  }
.footer-style .links .links-list a {
    color: #666;
    line-height: 2.1;
    text-transform: capitalize;
}
.footer-style .links .links-list a:hover {
    text-decoration: underline;
    color: #000;
  }

.footer-style .footer-content .footer-info .subscribe-content h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-style .subscribe-content .form-group{
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 5px 0;
}
.footer-style .subscribe-content .form-group input{
    border: 0;
    width: 100%;
}
.footer-style .subscribe-content .form-group .icon {
    margin-inline-end: 10px;
    font-size: 18px;
}
.footer-style .subscribe-content .form-group button {
    border: 0;
    background-color: transparent;
    color: var(--first-color);
    flex-shrink: 0;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-style .subscribe-content .form-group i{
    margin-left: 10px;
    font-size: 14px;

}
.footer-style .subscribe-content p{
    font-size: 13px;
    color: #666666;
    margin-top: .5rem;

}
input:focus{
   outline: none;

}
/* ---drowpdown--- */

.footer-style .dropdowns .links-ul .dropdown{
    position: relative;
    display: inline-block;      
    padding: 10px 15px;
    margin-inline-end: 5px;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 8px;
    margin-inline-end: 5px;
    }
    .footer-style .dropdowns .links-ul .dropdown .icon-1{
        font-size: 0.8em;
        margin-left: 2.856px;

    }
    .footer-style .dropdowns .links-ul .dropdown a{
        color: #000;
    }
    .footer-style .dropdowns .links-ul .dropdown i{
        font-size: 13px;
        margin-right: 5px;
    }

  .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.1333333333);
  }
  .footer-style .dropdowns .links-ul .dropdown .dropdown-menu{
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 8px;
    padding: 0;
    min-width: 100%;
    left: 0;
    transform: translate(0) !important;
    top: 100% !important;
  }

  .footer-style .foot{
    padding: 40px 15px;
    border-top: 1px solid rgba(153, 153, 153, 0.3333333333);
  }
   
  .footer-style .foot .pay-imgs img {
    height: 15px;
    margin: 0 10px;
}

.footer-style .foot .text-lg-end{
    padding-right: 15px;
    padding-left: 15px;
}
.footer-style .foot .text-lg-end i{
    margin-right: 10px;
}

@media(max-width:1280px){

    .footer-style .container-1{
        padding-left: 20px;
        padding-right: 20px;
    }
}
 
  

